<p>
  login works!
</p>

<input type="text" [(ngModel)]="test">
  {{ test }}

<form [formGroup]="loginForm" (ngSubmit)="submitLogin($event)" novalidate>
  <input type="text" name="username" id="username" formControlName="username" [ngClass]="{ 'error': loginForm.get('username').touched && loginForm.get('username').invalid }">
  <input type="password" name="password" id="password" formControlName="password" [ngClass]="{ 'error': loginForm.get('password').touched && loginForm.get('password').invalid }">
  
  <input type="submit" value="Enviar">
</form>

<div *ngIf="loginForm.invalid" id="message-error">
  Forma 1
  <p [innerHTML]="message"></p>
</div>

<div *ngIf="loginForm.invalid" id="message-error">
  Forma 2
  <div *ngFor="let error of errors">
    <p>{{ error }}</p>
  </div>
</div>